<footer class="footer font-small blue footer-copy">

    <a _ngcontent-c2="">contact@unify.digital  </a>

<div _ngcontent-c2=""><p _ngcontent-c2="">+91 949.369.2255</p><div _ngcontent-c2="" class="icon-cntr"><div _ngcontent-c2=""><a _ngcontent-c2="" href="https://www.linkedin.com/company/unifytech/" rel="noopener noreferrer" target="_blank"><img _ngcontent-c2="" class="circle-icon" src="../../../assets/Linkedin.png"></a></div><div _ngcontent-c2=""><a _ngcontent-c2="" href="https://www.facebook.com/Unify-Technologies-850991398282484/" rel="noopener noreferrer" target="_blank"><img _ngcontent-c2="" class="circle-icon" src="../../../assets/Facebook.png"></a></div><div _ngcontent-c2=""><a _ngcontent-c2="" href="https://youtube.com/unifytechnology" rel="noopener noreferrer" target="_blank"><img _ngcontent-c2="" class="circle-icon" src="../../../assets/YouTube.png"></a></div></div></div>
<p>
    <a _ngcontent-c2="" id="footer-down-text">© Unify Digital. All Rights Reserved.</a>
<a _ngcontent-c2="" href="/privacy-notice" id="footer-down-text"> Privacy Notice </a>
</p>

</footer>